<!-- Begin Agenda Section -->
<section id="agenda" class="row">
    <div class="columns">
      <h1><span class="icon-calendar agenda"></span>Agenda</h1>
      <p>¿Cuándo comienza todo?</p>
      <ul>
        <li>Día: 15 de agosto</li>
        <li>Hora: 18:00 (Bueno, si a la novia le da por ser puntual)</li>
        <li>Año: ¿En serio? (2015!)</li>
        <li>Ceremonia: En la finca Zamora</li>
        <li>Banquete: En la finca Zamora</li>
        <li>Fiesta: ¿Dónde crees? Pues en la finca Zamora</li>
        <li>Hora de finalización: Hasta que el cuerpo aguante!</li>
      </ul>
    </div>
</section>
<!-- End Agenda Section -->