<!-- Begin Confirmation Section -->
<section id="confirmation" class="row">
    <div class="columns">
      <h1><span class="icon-ok confirmation"></span>Confirmar asistencia</h1>
      <p>¿Cómo confirmo mi asistencia?</p>
      <p>Podéis hacerlo de la forma tradicional (teléfono, whatsapp, email, etc) o podéis hacerlo de una manera que no sólo es original sino que además nos ayuda a organizar la boda. ¿Qué forma? Pues reservando vuestra entrada gratuita en <a href="https://www.koliseo.com/carlos-coloma/boda" target="_blank">Koliseo</a></p>
    </div>
</section>
<!-- End Agenda Section -->