<!-- Begin FAQ Section -->
<section id="faq" class="row">
    <div class="columns">
      <h1><span class="icon-help faq"></span>FAQ</h1>
      <p>Aunque algunos hayan pensado que es imposible tener un FAQ en la página de una boda...sí, nosotros lo tenemos. No sólo porque pueda ser necesario, sino porque como uno de los novios es un friki en estado puro, dicho friki decidió que si se hacía la web, se hacía un FAQ.
      <ul class="trivial">
        <li>
          <p class="request">¿Qué se espera de los invitados?</p>
          <p class="response">Sólo esperamos que vayan, compartan ese día con nosotros, saquen muchas fotos y que nos lo pasemos genial todos juntos. Eso es lo único.</p>
        </li>
        <li>
          <p class="request">¿Cómo puedo recibir actualizaciones de esta página?</p>
          <p class="response">En nuestra app de <span class="icon-android"></span> Android propia! (<a href="#android" class="android">link</a>)</p>
          <img id="android" class="bazzinga hide" src="{{ site.baseurl }}/img/android.jpg">
        </li>
        <li>
          <p class="request">¿Cómo puedo contactar con los novios para optar a ampliar la barra libre?</p>
          <p class="response">Si quieres desatarte ese día como si fuera el último o quieres algo especial, <a href="mailto:estherycarlos.boda.2015@gmail.com">¡escríbenos!</a></p>
        </li>
        <li>
          <p class="request">¿Tienes alergias o alguna restricción alimentaria?</p>
          <p class="response">Queremos que disfrutes el día al 100%, así que puedes decírnoslo por correo o al reservar tu "entrada" en <a href="https://www.koliseo.com/carlos-coloma/boda" target="_blank">Koliseo</a></p>
        </li>
        <li>
          <p class="request">¿Cómo debo ir vestido?</p>
          <p class="response">¿Y nosotros que sabemos? Con ropa. Habrá un detector de vaqueros en la entrada para impedir el acceso. No, en serio, cuando estés decidiendo, imagínate la cara de Esther cuando te vea aparecer...</p>
        </li>
        <li>
          <p class="request">¿Son ciertos los rumores de que hay piscina?</p>
          <p class="response">Depende... Si el novio solo acaba en ella de madrugada y POR VOLUNTAD PROPIA, entonces sí.</p>
        </li>
        <li>
          <p class="request">¿Puedo sugerir canciones para el fiestorro?</p>
          <p class="response">Pues claro! Dínoslo y se lo pedimos al DJ!</p>
        </li>
      </ul>
    </div>
</section>
<!-- End FAQ Section -->