<!-- Begin Agenda Section -->
<section id="gift" class="row">
    <div class="columns">
      <h1><span class="icon-gift gift"></span>Lista de bodas</h1>
      ¿Lista de bodas? Que va, de eso no hay. Agradecemos la intención, pero no hacen falta regalos. Tan sólo que compartan nuestro día. Pero si aún así insistís, si bien el dinero no da la felicidad, sí que la financia, así que aceptamos cualquier donativo <span class="icon-emo-thumbsup"></span>
    </div>
</section>
<!-- End Agenda Section -->