<!-- Begin History Section -->
<section id="novios" class="row">
    <div class="columns">
      <h1><span class="icon-novios novios"></span>Los novios</h1>
      <p>Antes de 2001 poco hay que contar. Éramos pequeños y no había mucho que hacer salvo tirarle de las coletas a las chicas o chismorrear con las amigas sobre los BSB (Back Street Boys, para los no iniciados).</p> 

      <p>Y llegó 2001. Las piezas empezaban a encajar. El instituto, lugar lleno de hormonas por doquier, era algo imprescindible para facilitar que dos chicos tímidos se conocieran. Si bien Carlos lo recuerda como una escena de los documentales de la 2, donde el león se abalanza sobre la pobre cebrita, Esther lo recuerda como la primera hora de Crepúsculo (peli cursi donde las haya), aunque aún no la había visto.</p>

      <p>Pero el león tuvo que tener paciencia. La cebra era cabezona y no se dejaba comer. Hubo que pasar año y medio dentro de la friendzone (si, año y medio), durante el cual nos llegamos a conocer muy bien y los colmillos se cernieron sobre la indefensa cebrita. Comenzamos a salir.</p>

      <p>Aún éramos muy jóvenes, hasta el punto de que para quedar, Carlos tenía que desarrollar piernas de atleta de tanto caminar y Esther agudizar su habilidad denominada "Papi, porfa, ¿me alcanzas?".

      <p>Esto ocasionó que este chico acabara conociendo al padre de la novia: tras un día juntos, llegó el momento de volver a casa. Dado que ya estaba entrada la noche, Esther ejerció su cántico "Papá, ¿me puedes venir a buscar?" seguido, tras llegar, de un improvisado "¿y alcanzar a Carlos?". Durante el trayecto, se escuchaba un ruido sordo en el maletero, a lo que su padre comentó un simple "Lo que suena es el último novio de mi hija (o lo que queda)". FIN. Noooo, es broma (pero se quedó extrañamente grabado en nuestra memoria).</p>

      <p>Y de repente ¡PUM!, han pasado 12 años en los que se ha vivido mucho (fiestas, universidad, más fiestas, entrevistas, más fiestas aún, trabajo, menos fiestas, mudanzas, hipoteca, ...) milagrosamente aquí estamos, dispuestos a legalizar nuestra relación.</p>
      
    </div>

</section>
<section id="novios" class="row">
  <div class="columns">
    <h1><span class="icon-pedida pedida"></span>La pedida</h1>
    <p>Que conste que pongo esto porque me obligan. Aunque bueno, así quizá entendéis mejor parte del enfoque que le hemos dado a la boda :)

    <p>Las flores de cerezo (y el ambiente oriental en general) no están porque nuestro mundo sea de color de rosa. Tiene un motivo. Y no, no es porque el novio sea un friki.

    <p>Todo se debe a las mejores vacaciones imaginables: 2 semanas en Japón. No sólo por lo increíble del país o lo bien que lo pasamos, sino porque allí fue donde nos prometimos.

    <p>Era la segunda noche del viaje, y tras ir a ver unos fuegos artificiales espectaculares en Kyoto, paramos en el templo de Fushiminari (el que aparece en Memorias de una Geisha). Era medianoche, por lo que erámos los únicos en el templo. El sonido de las cigarras junto a la serenidad de sus pasillos, hacian del paseo algo realmente bonito. Nos adentramos bastante en el templo, paramos para descansar y, mientras estábamos en unas pequeñas escaleras, el novio sacó el anillo... Tras palabras y preguntas que Carlos se niega a reproducir aquí, Esther dijo que sí. Y aquí estamos.

    <p>No hay mucho más que decir, salvo que el novio sufrió de lo lindo durante el viaje de ida para lograr esconder un anillo (algo en teoría pequeño y fácil de ocultar) a una novia que se empeñaba en coger la maleta donde estaba la sorpresa (y eso que lo cambiaba de sitio más de una vez al día). ¡Cómo estresaba esta mujer!
  </div>
</section>
<!-- End History Section -->