<!-- Begin Hotels Section -->
<section id="alojamiento" class="row">
    <div class="columns">
      <h1><span class="icon-lodging hotels"></span>Alojamiento</h1>
      <p>Porque después de tanta fiesta y tanta celebración, conducir es lo menos que apetece, aquí os propondremos algunos sitios que quedan relativamente cerca de la finca para que podáis dormir. No evitaréis la resaca pero siempre se sobrelleva mejor en una piscina y con desayuno buffet. Y es preferible a dormir bajo una de las plataneras de la finca (no tiene el mismo encanto...)</p>
      <ul>
        <li>
          Por cercanía:
          <ul>
            <li>
              <a target="_blank" href="http://www.booking.com/hotel/es/el-patio-de-tita.es.html">Patio de Tita</a>
            </li>
            <li>
              <a target="_blank" href="http://www.booking.com/hotel/es/rural-bentor.es.html">Hotel rural Bentor</a>
            </li>
            <li>
              <a target="_blank" href="http://www.booking.com/hotel/es/apartamentos-realejos-residencial.es.html">Apartamentos realejos residencial</a>
            </li>
            <li>
              <a target="_blank" href="http://www.booking.com/hotel/es/maritim-tenerife.es.html">Hotel Maritim</a>
            </li>
          </ul>
        </li>
        <li>
          En el Puerto de la Cruz (un poco más lejos):
          <ul>
            <li>
              <a target="_blank" href="http://www.booking.com/hotel/es/beatriz-atlantis-spa.es.html">Hotel Beatriz Atlantis</a>
            </li>
            <li>
              <a target="_blank" href="http://www.booking.com/hotel/es/botanico-y-oriental-spa-garden.es.html">Hotel Botánico</a>
            </li>
            <li>
              <a target="_blank" href="http://www.booking.com/hotel/es/las-aguilas.es.html">Hotel Las Águilas</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</section>
<!-- End Hotels Section -->