<!-- Begin Location Section -->
<section id="location" class="location-map row">
    <div class="columns">
        <h1><span class="location-title-icon icon-location"></span>{{ site.locationBlockTitle }}</h1>
        <div id="canvas-map" class="canvas-map show-for-medium-up"></div>
        <div class="location-description">
            <ul class="unstyled">
                <li class="uppercase bold">{{ site.locationName }}</li>
                <li>{{ site.streetAddress }}</li>
                <li>{{ site.addressLocality }}</li>
                <li><a class="button radius small uppercase" href="https://goo.gl/8z9Lpk" target="blank">{{ site.viewOnGoogleMaps }}</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- End Location Section -->