<div class="header-background">
  <header id="top-header" class="row top-header">
    <div class="columns">
      <ul class="right inline-list">
        <li><a href="#novios" class="icon icon-pedida pedida" title="Los novios"></a></li>
        <li><a href="#agenda" class="icon icon-calendar agenda" title="Agenda"></a></li>
        <li><a href="#location" class="icon icon-location location" title="Lugar"></a></li>
        <li><a href="#gift" class="icon icon-gift gift" title="Lista de bodas"></a></li>
        <li><a href="#confirmation" class="icon icon-ok confirmation" title="Confirmar asistencia"></a></li>
        <li><a href="#faq" class="icon icon-help faq" title="FAQ"></a></li>
        <li><a href="#alojamiento" class="icon icon-lodging hotels" title="Hoteles"></a></li>
        <li><a href="mailto:{{ site.email }}" target="blank" class="icon icon-mail" title="¡Escríbenos!"></a></li>
      </ul>
    </div>
  </header>
</div>